.reservation {
    background-color: #d9e7ff;
    background-image: url(../images/background_reservation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.reservation__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0 auto 80px;
    padding-top: 100px;
}
